//update.jade
extends layout
block content
    h1 更新用户资料
    form(method='post', action='updateUser')
        div.form-row
            label
                span ID:
                input(type='text',name='id')
        div.form-row
            label
                span username:
                input(type='text',name='username')
        div.form-row
            label
                span age:
                input(type='text',name='age')
        div.form-row
            input(type='submit')